@using WebSite.Models
@model WebUserModel

<!DOCTYPE html>
<html>
<head>
    <title>samirdems.fr</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway|Clicker+Script" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
		function tryLogin(){
			var target = $('#FailedMessage');

			if(!target.is('visible')){
				target.css('visibility', 'visible');
			}

			return false;
		}
    </script>
    <style>
        body {
            background-color: #edeff2;
        }

        form {
            margin: 0px auto 10px auto;
            width: 160px;
            font-family: 'Amatic SC', cursive;
            font-size: xx-large;
            background-color: #dee0e2;
            padding: 60px;
        }

        input {
            display: block;
            width: 100%;
        }
    </style>
</head>
<body>
    <form action="/action_page.php">
        Login:<input type="text" name="fname"></br>
        Password:<input type="password" name="lname"></br>
        <div id="FailedMessage" style="margin-left: auto;margin-right: auto;color: #ff1000;width: 100%;text-align: center;visibility: hidden; ">Login failed</div>
        <input type="submit" value="OK" onclick="return tryLogin();" style="margin-top: 100px;">
    </form>
</body>
</html>
